canvas { margin-left: 20px; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
a { text-decoration: none; color: rgb(61, 146, 201); }
a:hover, a:focus { text-decoration: underline; }
h3 { font-weight: 100; }
.pure-img-responsive { max-width: 100%; height: auto; }

#step {padding: .5em 1em; display: inline-block; text-align: center;}

.header { text-align: center; top: auto; margin: 3em auto; }
.sidebar { background: rgb(61, 79, 93); color: #fff; padding: 2em 1em 0; }
.sidebar form input, .sidebar form select{ color: black; }
.sidebar table { table-layout: fixed; width:100%; }
.sidebar table td{ word-wrap:break-word; }

.brand-title, .brand-tagline { margin: 0; }
.brand-title { text-transform: uppercase; }
.brand-tagline { font-weight: 300; color: rgb(176, 202, 219); }

.footer { text-align: center; padding: 1em 0; }
.footer a { color: #ccc; font-size: 80%; }
.footer .pure-menu a:hover, .footer .pure-menu a:focus { background: none; }

@media (min-width: 48em) {
    .content { margin-left: 33%; }
    .header { text-align: right; }
    .sidebar { position: fixed; top: 0; bottom: 0; }
}